{% extends 'base.html' %}
{% load bootstrap3 %}

{% block contenido %}
    <h1>Subir archivo</h1>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary"> Enviar</button>
    </form>
    <hr/>
    <h1>Resultados</h1>
    {% if has_resultados %}
        <p>
            <b>Restricciones: </b>
            {{ restricciones }}
        </p>
        <p>
            <b>Función Objetivo:</b>
            {{ funcion_objetivo }}
        </p>
        <p>
            <b>Solución:</b>
            {{ solucion }}
        </p>
        <p>
            <b>Valor Óptimo:</b>
            {{ valor_optimo }}
        </p>
    {% else %}
        <p>
            Aun no se procesa una entrada
        </p>
    {% endif %}
{% endblock %}